name: 02_tagging

on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        description: 'bump up target'
        required: true
        default: "patch"
        options:
          - "patch"
          - "minor"
          - "major"
jobs:
  tagging:
    runs-on: ubuntu-20.04
    steps:
      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.0
        with:
          default_bump: ${{ github.event.inputs.bump }}
          github_token: ${{ secrets.ACTIONS_PAT }}
          tag_prefix: "v"
